@model Rukama.ViewModels.SubjectEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath1 = "~/Images/Subjects/" + (Model.ExistingImagePath1 ?? "noimage.jpg");
    var photoPath2 = "~/Images/Subjects/" + (Model.ExistingImagePath2 ?? "noimage.jpg");
    var photoPath3 = "~/Images/Subjects/" + (Model.ExistingImagePath3 ?? "noimage.jpg");
}


<div class="subject-edit-page">
    <fieldset class="edit-page-container">
            <div class="edit-page-title">Edit the subject: @Model.SubjectName</div>

            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SubjectID" />
                <input type="hidden" asp-for="ExistingImagePath1" />
                <input type="hidden" asp-for="ExistingImagePath2" />
                <input type="hidden" asp-for="ExistingImagePath3" />
                 
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SubjectName" class="control-label"></label>
                            <input asp-for="SubjectName" class="form-control" />
                            <span asp-validation-for="SubjectName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                    <label asp-for="CID" class="control-label"></label>
                    <input asp-for="CID" class="form-control" />
                    <span asp-validation-for="CID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Specialization" class="control-label"></label>
                            <select asp-for="Specialization" class="form-control" id="specialization" asp-items="@ViewBag.specializations"></select>
                            <span asp-validation-for="Specialization" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LegalForm" class="control-label"></label>
                            <select asp-for="LegalForm" class="form-control" id="legalform" asp-items="@ViewBag.legalforms"></select>
                            <span asp-validation-for="LegalForm" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StreetNr" class="control-label"></label>
                            <input asp-for="StreetNr" class="form-control" />
                            <span asp-validation-for="StreetNr" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MobileNr" class="control-label"></label>
                            <input asp-for="MobileNr" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TelephoneNr" class="control-label"></label>
                            <input asp-for="TelephoneNr" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="URL" class="control-label"></label>
                            <input asp-for="URL" class="form-control" />
                            <span asp-validation-for="URL" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Image1" class="control-label"></label>
                            <div class="form-group">
                            <img id="PreviewImage1" src="@photoPath1" alt="1. Image"
                            width="100%" height="100%" style="border: 3px solid #000000; margin-top: 10px;" asp-append-version="true"/>
                            </div>
                            <div class="col-sm-12">
                                <input asp-for="Image1" class="form-control custom-file-input" 
                                onchange="document.getElementById('PreviewImage1').src = window.URL.createObjectURL(this.files[0])"/>
                                <label class="custom-file-label">Change 1. image...</label>
                            </div>
                            <span asp-validation-for="Image1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Image2" class="control-label"></label>
                            <div class="form-group">
                            <img id="PreviewImage2" src="@photoPath2" alt="1. Image"
                            width="100%" height="100%" style="border: 3px solid #000000; margin-top: 10px;" asp-append-version="true"/>
                            </div>
                            <div class="col-sm-12">
                                <input asp-for="Image2" class="form-control custom-file-input" 
                                onchange="document.getElementById('PreviewImage2').src = window.URL.createObjectURL(this.files[0])"/>
                                <label class="custom-file-label">Change 2. image...</label>
                            </div>
                            <span asp-validation-for="Image2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Image3" class="control-label"></label>
                            <div class="form-group">
                            <img id="PreviewImage3" src="@photoPath3" alt="1. Image"
                            width="100%" height="100%" style="border: 3px solid #000000; margin-top: 10px;" asp-append-version="true"/>
                            </div>
                            <div class="col-sm-12">
                                <input asp-for="Image3" class="form-control custom-file-input" 
                                onchange="document.getElementById('PreviewImage3').src = window.URL.createObjectURL(this.files[0])"/>
                                <label class="custom-file-label">Change 3. image...</label>
                            </div>
                            <span asp-validation-for="Image3" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn-primary btn-sm" id="editTextButton" title="Save and edit the subject"><i class="fa fa-floppy-o"></i>   Save changes</button>
                </div>
            </form>
        <div>
            <a asp-action="Index" class="btn-primary btn-sm" id="tableTextButton" type="button" title="Redirects to the table"><i class="fa fa-undo"></i>   Back to list</a>
        </div>

    </fieldset>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[id*=legalform]").select2();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("[id*=specialization]").select2();
        });
    </script>
    <script>
    $(document).ready(function(){
         $('.custom-file-input').on("change",function(){
              var fileName=$(this).val().split("\\").pop();
              $(this).next('.custom-file-label').html(fileName);
         });
    });
    </script>
}
